{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container">
<p>
    <h1 class="text-center" style="color:#a00808;">SK BANKING</h1>
    <br>
    <h2 class="text-center" style="color:blue;"><b>WELCOME TO OUR ONLINE PORTAL</b></h2>
    <br>
    <h3 class="text-center" style="color:#45612e">Online Trading Platform
Trade securely with competitive fees online.....</h3>
<br>
    <br>
    <h4 class="text-center">Transfer money the way you want.....</h4>
    <h4 class="text-center">Enjoy quick and convenient international or domestic payments...</h4>
    <br>
    <div class="text-center">
<a class="btn btn-success" href="{% url 'login' %}">Login Here</a>
    </div>
</p>
</div>
{% endblock %}